

body{
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}



.land {
  align-items: center;
  fill: red;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
  cursor: pointer;
  transform: scale(1);
  transform-origin: center center;
}


#map-container {
  position: absolute;
  width: 100%;
  height: 100%; 
  align-items: center;
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
}

#zoom-out {
  position: sticky;
  background-color: black;
  color: white;
  width: 75px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  z-index: 9999;
  left: 45rem;
}

#overlay {
  position: absolute;
  top: 35rem;
  width: 11rem;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

