:root {
  --background-primary: #f3f3f3;
  --background-secondary: hsl(0, 0%, 14%);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  --font: "Ubuntu", "sans-serif";
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--secondFont);
}

header {
  height: auto;
  width: 100%;
  background: var(--gradient);
  box-shadow: var(--box-shadow);
  animation: gradientAnimation 5s infinite;
}

#bannerContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../media/Bilde\ 22.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photoContext {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  line-height: normal;
  opacity: 0.85;
}

#bannerHeader {
  color: white;
  position: absolute;
  left: 50px;
  top: 500px;

  h1 {
    font-size: 6rem;
    margin: 0;
  }
  h2 {
    font-size: 3rem;
    margin: 0;
  }
}

#content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 100vh; /* Increase the gap to ensure only one section is visible at a time */
  padding: 2rem;
  background-color: var(--background-secondary);
}

.infoContainerSmall {
  background-color: var(--background-secondary);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  height: 100vh; /* Ensure each section takes up the full viewport height */
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  p {
    font-size: 1.5rem;

  }
}

#map-container {
  width: 100%;
  height: 100vh; /* Ensure the map takes up the full viewport height */
  overflow: hidden; /* Hide any overflow */
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out, transform-origin 0.5s ease-in-out; /* Smooth transition for zoom effect and transform origin */
}

.land {
  fill: var(--background-secondary);
  stroke: white;
  stroke-width: 1 solid;
}

.land.highlighted {
  fill: var(--background-primary); /* Highlight color for the fill */
  stroke: none;
}

#overlay {
  position: absolute;
  top: 120px;
  right: 180px;
  height: 100%;
  color: white;
  display: none; /* Initially hidden */
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  line-height: normal;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Fade-in effect */
}

#overlay.visible {
  display: block;
  opacity: 0.85; /* Make the overlay visible with fade-in effect */
}

#interviewSection{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-radius: 25px;
  border: 1px solid var(--background-primary);
  padding: 1rem;
}

#policeIcon{
  width: 300px;
  color: white;
  margin: 1rem auto 0 auto;
}

#scrollButton {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background-color: var(--background-secondary);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}

#scrollButton:hover {
  background-color: hsl(0, 0%, 20%);
}

#scrollButton::before {
  content: '↓';
  font-size: 2rem;
  animation: bob 1s infinite;
}

@keyframes bob {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
#animatedHeader {
  height: auto;
  width: 100%;
  text-align: center;
}

#counter {
  font-size: 2.5rem;
  color: #fff;
}

#progressBar {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: none; /* Initially hidden */
  flex-direction: column;
  align-items: center;
}

.progressDot {
  width: 10px;
  height: 10px;
  background-color: var(--background-secondary);
  border: 2px solid var(--background-primary);
  border-radius: 50%;
  margin: 5px 0;
  transition: background-color 0.3s;
}

.progressDot.active {
  background-color: var(--background-primary);
}