:root {
  --background-primary: #f3f3f3;
  --background-secondary: hsl(0, 0%, 14%);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  --font: "Ubuntu", "sans-serif";
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  font-family: var(--font);
}

header {
  height: auto;
  width: 100%;
  background: var(--gradient);
  box-shadow: var(--box-shadow);
  animation: gradientAnimation 5s infinite;
}

#bannerContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../media/artikkel2/Bilde\ 22.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photoContext {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  line-height: normal;
  opacity: 0.85;
}

#bannerHeader {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  text-align: center;

  h1 {
    font-size: 6rem;
    margin: 0;
  }
  h2 {
    font-size: 3rem;
    margin: 0;
  }
}

/* Legg til media queries for mobil */
@media (max-width: 600px) {
  #bannerContainer {
    height: 50vh;
  }

  .photoContext {
    font-size: 10px;
    padding: 5px;
    bottom: 10px;
    left: 10px;
  }

  #bannerHeader h1 {
    font-size: 2.5rem;
  }

  #bannerHeader h2 {
    font-size: 1.5rem;
  }
}

#content {   /*???*/
  display: grid;
  grid-template-columns: 1fr;
  gap: 100vh; /* Increase the gap to ensure only one section is visible at a time */
  width: 100vw;
  padding: 2rem;
  background-color: var(--background-secondary);
}

.articleSection {
  background-color: var(--background-secondary);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  height: 100vh; /* Ensure each section takes up the full viewport height */
  width: 100%; /* Ensure the width does not exceed the viewport */
  max-width: 90vw; /* Add a max-width to prevent overflow */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  p {
    font-size: 1.5rem;
  }
}

#map {
  width: 60%;
  height: 70vh;
}

#mapContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  padding-top: 6rem;
}

#mapInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#interviewSection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-radius: 25px;
  border: 1px solid var(--background-primary);
  padding: 1rem;
}

.storyIcon {
  width: 300px;
  color: white;
  margin: 1rem auto 0 auto;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.scrollButton {
  width: 60px;
  height: 60px;
  background-color: var(--background-secondary);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollButton:hover {
  background-color: hsl(0, 0%, 20%);
}

#upArrow {
  transform: rotate(180deg);
}

#animatedHeader {
  height: auto;
  width: 100%;
  text-align: center;
}

#counter {
  font-size: 2.5rem;
  color: #fff;
}

#progressBar {
  position: fixed;
  top: 50%;
  left: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  #bannerHeader {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center horizontally and vertically */

    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }

  .articleSection {
    width: 90vw;
    padding: 1rem;
    margin: 0 auto;

    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  #map {
    width: 100%;
    height: 60vh;
  }

  #overlay {
    top: 150px;
    right: 20px;
    width: 90%;
    height: auto;
    font-size: 10px;
  }

  .buttonContainer {
    left: 50%;
    transform: translateX(-50%);
  }

  .scrollButton {
    width: 50px;
    height: 50px;
  }

  .storyIcon {
    width: 100px;
  }

  .progressDot {
    display: none;
  }
}