:root{
  --background: #f1f1f1;
  --font: "ubuntu", "sans-serif";
}

html{
  background-color: var(--background);
  font-family: var(--font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  position: relative;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

header{
  height: 400px;
  width: 100%;
  background-color: peru;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  
  
  
  
}
footer{
  height: 400px;
  width: 100%;
  background-color: peru;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  
}

#memberSection{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  color: white;
  
  h1{
    font-size: 3rem;
    margin-top: .4rem;
  }
  
  
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.block{
  display: block;
  text-decoration: none;
  color: black;
}

#articleSection{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 1rem;

  flex: wrap;

  padding-top: 3rem;

  article{
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f3;
    padding: 0.7rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);

    height: 250px;


    h2{
      padding: 0.2rem;
      margin: 0;
    }

    
  }
}