/* #articleSection article:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  background-color: #e0e0e0;
} */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 900px;
  color: white;
}

main{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 1rem;
  padding-top: 3rem;
  align-items: center;
}

h1{
  font-size: 4rem;
  font-family: var(--secondFont);
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.articleContainer{
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  background-color: #fff9dac8;

  video{
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  div{
    padding: 1rem;
  }
  h2{
    margin: 0;
    padding: 0;
  }
}

/* footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 1rem;
  background-color: #023047;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2rem;
  color: white;
} */

/* #memberSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  color: white;
} */

/* #memberSection h1 {
  font-size: 3rem;
  margin-top: 0.4rem;
}

#memberSection ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.block {
  display: block;
  text-decoration: none;
  color: black;
}

#articleSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 1rem;
  padding-top: 3rem;
}

#carRotate{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#articleSection article {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  height: 250px;
  border: 1px solid #ddd;
}

#articleSection article h2 {
  padding: 0.2rem;
  margin: 0;
} */


