body {
  margin: 0;
  padding: 0 0 100px 0;
  width: 100%;
}

#bannerContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
}

#bannerContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.bannerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.3)
  );
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bannerText:hover {
  transform: translate(-50%, -50%) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bannerText h2 {
  margin: 0;
  font-size: 2rem;
}

.bannerText p {
  margin: 0.5rem 0 0 0;
  font-size: 1rem;
}

/* New CSS for Article */
article {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6;
}

article h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

article p {
  font-size: 1.425rem; /* Juster fontstørrelsen */
  line-height: 1.6; /* Øk linjehøyden for bedre lesbarhet */
  margin-bottom: 1.5rem; /* Øk marginen nederst for bedre avstand mellom avsnitt */
  color: #333; /* Juster tekstfargen for bedre kontrast */
}

article img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
article img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

canvas {
  margin: 20px 0;
}

#stipendTableContainer {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;

  display: flex;
  flex-direction: row;
  gap: 5rem;
  flex-wrap: wrap;
}

.stipendTable {
  width: 100%;
  border-collapse: collapse;
}

.stipendTable th,
.stipendTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.stipendTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.stipendTable input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.stipendTable input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.stipendTable td#totalt,
.stipendTable td#resultat {
  font-weight: bold;
}

.stipendButton,
.resetButton {
  font-size: 1rem;
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.stipendButton:hover {
  background-color: #0056b3;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stipendButton.active {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#stipendButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
}

#sumContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
}

.sum {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-size: 2rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, width 0.5s ease,
    height 0.5s ease, font-size 0.5s ease;
}

.sum:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#stipendByYearContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.carousel {
  position: relative;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-item img {
  width: 100%;
  border-radius: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem; /* Øk font-størrelsen */
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px; /* Øk padding */
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  width: 50px; /* Øk bredde */
  height: 50px; /* Øk høyde */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

#intervjuer {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

#intervjuer h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}

.interview-content {
  display: flex;
  align-items: center; /* Juster til center for å sentrere bildet vertikalt */
  gap: 20px;
}

.interview-content img {
  max-width: 200px; /* Øk størrelsen på bildet */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.interview-content p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #333;
  margin: 0 0 1.5rem 0; /* Legg til margin nederst for avstand mellom avsnitt */
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .bannerText h2 {
    font-size: 1.5rem;
  }

  .bannerText p {
    font-size: 0.875rem;
  }

  article h1 {
    font-size: 2rem;
  }

  article p {
    font-size: 1rem;
  }

  .stipendTable th,
  .stipendTable td {
    padding: 5px;
  }

  .stipendButton,
  .resetButton {
    font-size: 0.875rem;
    padding: 8px 16px;
  }

  .sum {
    width: 28vw;
    height: 28vw;
    font-size: 1.5rem;
  }

  .interview-content img {
    max-width: 150px; /* Juster størrelsen på bildet for mobile enheter */
  }
}
