body {
  margin: 0;
  padding: 0 0 100px 0;
  width: 100%;
}

#bannerContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
}

#bannerContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.bannerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.3)
  );
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bannerText:hover {
  transform: translate(-50%, -50%) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bannerText h2 {
  margin: 0;
  font-size: 2rem;
}

.bannerText p {
  margin: 0.5rem 0 0 0;
  font-size: 1rem;
}

article {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  p {
    font-size: 1.425rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #333;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
  }
  a {
    color: #007bff;
    text-decoration: none;
  }
}

canvas {
  margin: 20px 0;
}

#stipendTableContainer {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.stipendTable {
  width: 48%;
  border-collapse: collapse;
}

.stipendTable th,
.stipendTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.stipendTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.stipendTable input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.stipendTable input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.stipendTable td#totalt,
.stipendTable td#resultat {
  font-weight: bold;
}

.stipendButton,
.resetButton {
  font-size: 1rem;
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.stipendButton:hover,
.resetButton:hover {
  background-color: #0056b3;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stipendButton.active {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resetButton {
  margin-top: 20px;
}

#stipendButtonContainer,
#sumContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
}

.sum {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, width 0.5s ease,
    height 0.5s ease, font-size 0.5s ease;
}

.sum:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#stipendByYearContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.carousel {
  position: relative;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-item img {
  width: 100%;
  border-radius: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-next {
  right: 15rem;
}

.carousel img {
  width: 70%;
  height: 100%;
}

#intervjuer {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

#intervjuer h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}

.interview-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.interview-content img {
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.interview-content p {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #333;
  margin: 0 0 1.5rem 0;
}

@media (max-width: 768px) {
  .bannerText h2 {
    font-size: 1.5rem;
  }

  .bannerText p {
    font-size: 0.875rem;
  }

  article h1 {
    font-size: 2rem;
  }

  article p {
    font-size: 1rem;
  }

  .stipendTable th,
  .stipendTable td {
    padding: 5px;
  }

  .stipendButton,
  .resetButton {
    font-size: 0.875rem;
    padding: 8px 16px;
  }

  .sum {
    font-size: 1rem;
  }

  .interview-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .interview-content img {
    max-width: 250px; /* Juster størrelsen her */
  }

  #stipendTableContainer {
    flex-direction: column;
    gap: 10px;
  }

  .stipendTable {
    width: 100%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .carousel-control-next {
    right: 30%;
  }
}

#work {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

#work img {
  max-width: 45%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.video-box {
  background: rgba(126, 126, 126, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-box video {
  display: block;
  border-radius: 10px;
}
